/* 취향공유 리스트 자리 */
.fav_container {
  margin-top: 30px;
}
.today_pick {
  height: 450px;
}
.today_pick h2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 900;
}
.picks_background {
  position: absolute;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 217, 84, 1) 0%, rgba(250, 182, 79, 1) 100%);
  padding: 50px;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.pick_lists {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
  height: 100%;
  transition: 0.5s ease-out;
}
.pick_lists li {
  width: 260px;
  height: 260px;
  list-style: none;
  background-image: url(../../images/no_image.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.pick_lists img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.pick_lists li:not(:last-child) {
  float: left;
}
.left_btn,
.right_btn {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 45%;
  width: 40px;
  opacity: 0.6;
  z-index: 2;
}
.left_btn {
  left: 30px;
}
.right_btn {
  right: 30px;
}

/* 취향공유 리스트 */
.share_lists {
  width: 100%;
  margin: 80px 0;
}
.share_lists h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.share_line {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.share_box {
  width: 230px;
  height: 280px;
}
.share_img {
  height: 230px;
}
.share_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.share_textbox {
  text-align: center;
  padding: 10px;
}
.share_textbox h3 {
  font-size: 20px;
  font-weight: 700;
}
.share_textbox span {
  font-size: 14px;
  font-weight: 700;
  color: #bc9252;
}
