/* 헤더부분 */
.head_container {
  position: sticky;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.head_container .menu_bar {
  padding: 0 7px;
}
.header_form {
  display: flex;
  justify-content: space-between;
}
.container_logo {
  display: flex;
  align-items: center;
}
#search {
  display: flex;
  align-items: center;
}
#search_bar {
  width: 100%;
  padding: 5px 0 5px 20px;
  border-radius: 40px 0 0 40px;
  font-size: 20px;
  border-color: #e2e2e2;
}
#search_btn {
  padding: 7px 10px 6px 20px;
  background-color: #d9d9d9;
  border-style: none;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
}
#login_btn {
  font-size: 14px;
  padding: 9px 18px;
  border-radius: 25px;
  border-style: none;
  background-color: #d9d9d9;
  cursor: pointer;
}
/* 아이콘수정 */
.fas {
  margin-right: 24px;
  font-size: 24px;
}
/* 사이드부분 */
aside {
  position: fixed;
  /* margin-top: 60px; */
  width: 240px;
  padding: 12px;
}
.menu {
  list-style: none;
}
.home li,
.my a {
  display: block;
  border-radius: 10px;
  padding: 6px 8px;
  margin-bottom: 12px;
}
.home li:hover,
.my a:hover {
  background-color: #d6d6d6;
}
.line {
  display: block;
  margin: 25px 0;
  border-bottom: 1px solid;
}
.more {
  margin: 24px;
}
