header {
  position: relative;
}
/* 아이콘수정 */
ion-icon {
  font-size: 24px;
}

/* 헤더부분 */
.head_container {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  z-index: 1;
  padding: 0 16px;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.head_container .interface {
  display: flex;
  align-items: center;
  gap: 20px;
}
.head_container form {
  display: flex;
  justify-content: space-between;
}
.head_container .menu_bar {
  padding: 0 8px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 200px;
}

/* 검색바 */
#search {
  display: flex;
  align-items: center;
  position: fixed;
  right: 60px;
}
.search_box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.back {
  display: none;
  padding: 6px 5px 2px 7px;
  margin-left: 8px;
  vertical-align: 1px;
  background-color: #ffd954;
  border-radius: 50%;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}
.search_bar {
  display: none;
  position: relative;
  width: 100%;
  padding: 9px 0 8px 18px;
  border-radius: 40px 0 0 40px;
  font-size: 18px;
  border-color: #e2e2e2;
  border-style: none;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.6s;
  overflow: hidden;
}
.search_bar_show {
  display: block;
}
.search_btn {
  background-color: #fff;
  border-style: none;
  border-radius: 50%;
  cursor: pointer;
}
.search_btn_show {
  background-color: #ffd954;
  padding: 6px 12px 6px 12px;
  border-radius: 0 40px 40px 0;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}
#menu_bar {
  border-style: none;
  background-color: #fff;
  cursor: pointer;
}
#menu_bar ion-icon {
  font-size: 32px;
}
