.intro_container {
  position: relative;
  width: 100%;
  height: 610px;
}
.hero_image {
  height: 100%;
  background-image: url("../../images/cat_in_movie_house_bg_nolight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #43579c;
  transition: 1s ease-out;
  transition-duration: 2;
  transition-property: background-color;
}
.hero_image:hover {
  text-shadow: 1px 4px 8px #333;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  background-image: url("../../images/cat_in_movie_house_bg_wtlight.png");
  transition: 1s ease-out;
}
.content_intro {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0px;
}
.content_intro div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 80%;
}
.content_intro h2 {
  font-size: 50px;
  margin-bottom: 12px;
  font-weight: 900;
  color: #fff;
}
.content_intro h2 img {
  width: 62px;
  margin-bottom: -10px;
}
.content_intro p {
  display: flex;
  flex-grow: 1;
  font-family: "Nanum Square";
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.325em;
}
.intro_container img {
  width: 200px;
  color: #fff;
}
