@import "./movie_container.css";
@import "./fav_container.css";
@import "./modal_cover.css";

main {
  position: relative;
  padding-top: 58px;
}
/* 영화 & 취향공유 리스트 태그 및 정렬 태그 부분 */
.main_container {
  width: 90%;
  margin: 40px auto;
}
.select_tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.list_selection {
  display: flex;
  gap: 60px;
}
.select_list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.select_list div {
  width: 120px;
}
.select_list input[type="radio"] {
  display: none;
}
.select_list label {
  display: block;
  width: 100%;
  color: #b59f9f;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}
.select_list input[type="radio"]:checked + label {
  color: #262626;
  border-image: linear-gradient(90deg, rgba(67, 87, 156, 1) 0%, rgba(250, 182, 79, 1) 100%);
  border-image-slice: 1;
  border-bottom: 5px solid;
  line-height: 45px;
}
.tags {
  display: flex;
  align-items: center;
  gap: 6px;
}
.tags label {
  display: none;
}
.genres_tag select,
.years_tag select {
  text-align: center;
  border-radius: 30px;
  border-style: none;
  width: 100px;
  font-size: 16px;
  background-color: #2c2c2c;
  color: #fff;
  padding: 10px;
}
.genres_tag select:hover,
.years_tag select:hover {
  background-color: #3f3f3f;
  cursor: pointer;
}
