body{
  background: linear-gradient(#972240, #fff5e1)
}
.mylist_head{
  text-align: center;
  background-color: white;
}
.mylist_head h2{
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
}
.mylist_clip{
  height: 300px;
  padding-top: 40px;
  padding-left: 100px;
  background-image: url('../../images/movie_film.png');
  background-repeat: no-repeat;
  background-position: left top;
  display: flex;
  gap: 10px;
}
.mylist_clip img{
  width: 80px;
  height: 80px;
}
.mylist_title{
  padding-top: 20px;
  font-size: 26px;
  color: white;
}
.mylist_title span{
  color: #ff9900

}
.mylist_title a{
  display: block;
  font-size: 10px;
  color: white;
  margin-top: 5px;
}
.creat_box{
  width: 90%;
  margin: 40px auto;
  background-color: inherit;
}
.creat_mylist{
  padding: 30px 10px 20px 30px;
  font-size: 22px;
  font-weight: 700;
  color:#ffffff;
  width: 140px;
  height: 40px;
  text-align: center;
}
.list_gradation{
  margin-top: 10px;
  margin-left: 20px;
  height: 3px;
  width: 120px;
  background-color: #43579C;
}
.list_box{
  display: flex;
  justify-content: space-between;
  padding: 14px;
}
section{
  margin-top: 10px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba( 0, 0, 0, 0.25);
  position: relative;
}
.list_font{
  font-size: 16px;
  font-weight: 700;
}
#icon_font{
  color: #c6003e;
}
.list_icon{
  display: flex;
  gap: 6px;
  align-items: center;
  text-align: center;
}
.list_icon ion-icon{
  font-size: 18px;
  color: white;
  vertical-align: -1.2px;
}
.list_icon img{
  width: 20px;
  height: 20px;
}
#edit_box{
  width: 30px;
  background-color: black;
  border-radius: 999px;
}
.collection{
  margin-top: 20px;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  overflow: hidden;
  gap: 10px;
}

.folder_box{
  text-align: center;
}

.folder_gird{
  display: grid;
  grid-template-areas:
    'a a c'
    'a a f';
  gap: 2px;
}

.img_menu{
    padding-top: 10px;
}

.one_img{
  width: 100px;
  height: 162px;
  grid-area: a;
  border-radius: 10px 0 0 10px;
}

.two_img{
  height: 80px;
  grid-area: c;
  border-radius: 0 10px 0 0;
}
.three_img{
  height: 80px;
  grid-area: f;
  border-radius: 0 0 10px 0;
}

#preference_list{
  margin-top: 100px;
  position: relative;

}
.list_poster{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
.mylist_poster{
  width: 100px;
  height: 125px;
  position: relative;
  margin-left: 20px;
}
.poster_collection{
  width: 100px;
  height: 125px;
  border: 1px solid #2c2c2c;
  border-radius: 4px;
}
.poster_click{
  width: 20px;
  position:absolute;
  right: 10px;
  top: 6px;
}
.arrow_box{
  width: 30px;
  height: 30px;
  top: 150px;
  position: absolute;
  z-index: 1;
}
.arrow_right{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 150px;
}


