/* 반응형 모바일 사이즈 */
@media screen and (max-width: 480px) {
  /* 헤더(모바일) */
  .head_container {
    padding: 0 16px;
  }
  .outer_login,
  .outer_account {
    display: none;
  }
  .logo img {
    width: 150px;
  }
  .content_intro h2 {
    font-size: 40px;
  }
  .content_intro p {
    font-size: 20px;
  }
  .hero_image {
    background-image: url("../images/cat_in_movie_house_bg_wtlight.png");
  }
  /* 검색바 */
  #search {
    right: 60px;
  }
  .search_bar,
  .search_btn {
    display: none;
  }
  .search_view {
    display: flex;
  }
  #menu_bar {
    display: block;
  }
  .login_box a {
    display: block;
  }
  /* 로그인 박스(모바일) */
  .login_box,
  .account_box {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 15px 60px;
  }
  .main_container {
    margin: 15px auto;
  }
  .select_list div {
    width: 90px;
  }
  .select_list label {
    font-size: 18px;
  }
  .genres_tag select,
  .years_tag select {
    width: 80px;
    font-size: 12px;
    padding: 6px;
  }
  .movie_container {
    gap: 15px;
  }
  .movie_cover {
    width: 150px;
    height: 260px;
  }
  .movie_cover h3 {
    font-size: 14px;
  }
  .movie_cover span {
    font-size: 12px;
  }
  /* 영화 모달창 */
  .modal_movie {
    overflow: scroll;
  }
  .movie_card_container {
    height: 100%;
  }
  .img_card,
  .text_card {
    border-radius: 0;
  }
}

/* 중간 사이즈(태블릿 등 화면조정) */
@media screen and (min-width: 481px) and (max-width: 992px) {
  /* 헤더 부분 */
  .head_container {
    padding: 0 16px;
  }
  .outer_login,
  .outer_account {
    display: none;
  }
  /* 영화 리스트 구역 */
  .movie_container {
    gap: 15px;
  }
  .movie_cover {
    width: 200px;
    height: 350px;
  }
  /* 검색바 */
  #search {
    right: 60px;
  }
  .search_bar,
  .search_btn {
    display: none;
  }
  .search_view {
    display: flex;
  }
  #menu_bar {
    display: block;
  }
  .login_box a {
    display: block;
  }
}
