@import "./mainstyle/header.css";
@import "./mainstyle/intro_content.css";
@import "./mainstyle/main_container.css";
@import "./mainstyle/login-info.css";

@import "./responsive.css";
@import "./account.css";
@import "./modal_loading.css";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

.nanumgothic * {
  font-family: "Nanum Gothic", sans-serif;
}
@font-face {
  font-family: "nicomoji";
  src: url("../fonts/nicomoji-plus_v2.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}
body {
  font-family: "Nanum Gothic", sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* user-drag: none; */
}
/* TOP 버튼 */
.up_to_top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 8;
}
.up_to_top img {
  width: 40px;
}
